*{
    box-sizing: border-box;
}
body{
    background: #bcb8b8;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.key{
    display: inline-flex;
    border: 3px solid #fff;
    background:#fff;
    padding: 10px;
    position: relative;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    margin:10px;
    min-width: 150px;
    align-items: center;
    flex-direction: column;
}
.key small{
    position: absolute;
    top: -25px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}